body {
  font-family: 'Roboto', sans-serif;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%row-center {
  @extend %flex-center;
  flex-direction: row;
}

%column-center {
  @extend %flex-center;
  flex-direction: column;
}

.pick-one {
  display: flex;
  height: 100vh;
  flex-direction: row;
  width: 100%;

  .pick-header {
    position: absolute;
    width: 100%;
    top: 6em;
    text-align: center;
  }

  .part {
    @extend %column-center;
    flex: 1;
    transition: 250ms ease-in-out;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: none;
    &:hover {
      background-color: #f1f1f1;
    }
    &:first-of-type {
      border-right: 1px solid #f2f2f2;
    }

    .description {
      color: #414141;
      font-size: 14px;
    }
  }
}

.signin-container {
  height: 100vh;
  @extend %row-center;
  width: 100%;

  .savior-input {
    width: 100%;
    margin-bottom: 1em;
  }

  .form-container {
    width: 250px;
  }
}

.savior-container {
  padding-top: 56px;
  @extend %column-center;
  .message-container {
    width: 80%;
    white-space: break-word;
    position: relative;
    .message-input {
      padding: 16px 24px;
      border-radius: 4px;
      width: 100%;
      overflow: hidden;
      font-size: 42px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      color: #313131;
      border-color: #e0e0e0;
    }
  }

  .message-info {
    position: absolute;
    top: 1em;
  }
}

.prompter-container {
  @extend %column-center;
  background: black;
  color: white;
  width: 100%;
  min-height: 100vh;
  h1 {
    padding: 0 1em;
    font-size: 6vw;
    @media (max-width: 600px) {
      padding: 0 1.2em;
      font-size: 3vh;
      line-height: 1.5;
    }
  }
  .message {
    @extend %column-center;
    .shownMassage {
      font-size: 72px;
    }
  }
}

.message_textarea {
  padding: 10px;
}

.message-footer {
  margin-top: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  .left {
    vertical-align: bottom;
    .chars_left {
      display: inline;
      font-weight: 700;
      color: #313131;
      margin-right: 12px;
      span {
        font-weight: 500;
      }
    }
    button {
      text-align: end;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.emoji-picker {
  float: left;
  position: absolute;
  z-index: 100;
}

.message-history {
  width: 80%;
  margin-top: 42px;
  position: relative;
}

.history-box {
  width: 100%;
  height: 400px;
  margin-left: 16px;

  ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;
    li {
      padding: 8px 0;
      margin-bottom: 12px;
      border-bottom: 1px solid #ebebeb;
      &:last-of-type {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 8px;
      }
    }
  }
}